@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@model AppUserLoginModel
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Sign In Now</h3>
        <div class="row inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form asp-action="Index" asp-controller="Login">
                    <div class="form-group">
                        <label >Email address</label>
                        <input type="email" class="form-control" placeholder="E-mail" asp-for="@Model.mail">
                    </div>
                    <div class="form-group">
                        <label >Password</label>
                        <input type="password" class="form-control"  placeholder="Şifre" asp-for="@Model.password">
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                    <p><a href="/Register/Index"> Don't have an account?</a></p>
                </form>
            </div>
        </div>
    </div>
</section>
