@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AuthorLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    @await Component.InvokeAsync("AuthorDashboardStatistics")
    @await Component.InvokeAsync("BlogListDashboard")
    @await Component.InvokeAsync("CategoryListForDashboard")
</body>
</html>

